
<DOCTYPE! html>
<html>
  <head>
  	<title> Etsy Android</title>
  	<link rel="stylesheet" href="csstoindex.css"
  </head>
  <body>
	<div class="categories"> <!-- Needs to be horizontal-->
      <ul id="navigation">
        <li><a href="#">Clothing & Accessories</a></li>
        <li><a href="#">Jewelry</a></li>
        <li><a href="#">Craft Supplies & Tools</a></li>
        <li><a href="#">Weddings</a></li> 
        <li><a href="#">Entertainment</a></li>
        <li><a href="#">Home & Living</a></li>
        <li><a href="#">Kids & Baby</a></li>
        <li><a href="#">Vintage</a></li>
      </ul>
    </div>
  
  </body>
</html>