<DOCTYPE! html>
<html>
 <head>
  <title> Etsy Android</title>
  <link rel="stylesheet" href="csstoindex.css"
 </head>
 <body>
  
<div class="topbar">
  <div class="searchbar">
        <form>
        <input type="text" placeholder="Search for items or shops" required>
        <input type="button" value="Search">
        </form>
     </div>   
  <div class="logo"> <img src="http://cdn-image.realsimple.com/sites/default/files/styles/rs_main_image/public/image/images/0211/etsy-logo_300.jpg?itok=ZLkJzyOG"> </div>

  </div>
</div
   <div class="categories">
    <ul id="topmenue">
     <li><a href="#">Clothing & Accessories</a></li>
     <li><a href="#">Jewelry</a></li>
     <li><a href="#">Craft Supplies & Tools</a></li>
     <li><a href="#">Weddings</a></li> 
     <li><a href="#">Entertainment</a></li>
     <li><a href="#">Home & Living</a></li>
     <li><a href="#">Kids & Baby</a></li>
     <li><a href="#">Vintage</a></li>
    </ul>
   </div>
   <div>
</div>    
    <div style="position: absolute; width: 20%; background-color: #E0EEEE;">
     <div>
      <div class="sidemenu">
       <ul id="menueside">
        <h3>All Categories</h3>
        <li class="list_links"><a href="https://www.etsy.com/search/home-and-living?q=death">Home & Living</a></li>
        <li class="list_links"><a href="https://www.etsy.com/search/art-and-collectibles?q=death">Art & Collectibles</a></li>
        <li class="list_links"><a href="https://www.etsy.com/search/weddings?q=death">Weddings</a></li>
        <li class="list_links"><a href="https://www.etsy.com/search/clothing?q=death">Clothing</a></li>
        <li class="list_links"><a href="https://www.etsy.com/search/paper-and-party-supplies?q=death">Paper & Party Supplies<a/></li>
        <li class="list_links"><a href="https://www.etsy.com/search/jewelry?q=death">Jewelry</a></li>
        <li class="list_links"><a href="https://www.etsy.com/search/accessories?q=death">Accessories</a></li>
        <li class="list_links"><a href="Craft Supplies & Tools">Craft Supplies & Tools</a></li>
        <li class="list_links"><a href="https://www.etsy.com/search/bags-and-purses?q=death">Bags & Purses</a></li>
        <li class="list_links"><a href="https://www.etsy.com/search/bath-and-beauty?q=death">Bath & Beauty</a></li>
        <li class="list_links"><a href="https://www.etsy.com/search/shoes?q=death">Shoes</a></li>
        <li class="list_links"><a href="https://www.etsy.com/search/books-movies-and-music?q=death">Books, Movies & Music</a></li>
        <li class="list_links"><a href="https://www.etsy.com/search/electronics-and-accessories?q=death">Electronics & Accessories</a></li>
        <li class="list_links"><a href="https://www.etsy.com/search/toys-and-games?q=death">Toys & Games</a></li>
        <li class="list_links"><a href="https://www.etsy.com/search/pet-supplies?q=death">Pet Supplies</a></li>
       </ul>
      </div>
     </div>
    </div>
    <div style="position: absolute; left: 20%; width: 80%; background-color: ##FFFFF0;">
     <div>
      <div>
       <div class="listings">
        <%results.each do |result|%>
         <div class="item">
          <div class="pic">
           <img class="pic_img" src="<%= result["Images"][0]["url_170x135"]%>">
          </div>
          <div class="item_footer">
           <div class="item_desc">
            <%= result["title"] %>
           </div>
           <div class="price">
            <%= result["price"] %>
           </div>
           <div class="shops">
            <%= result["Shop"]["shop_name"] %>
           </div>
          </div>
         </div>
        <% end %>
       </div>
      </div>
     </div>
    </div>
   </div>
  </body>
</html>